.App{
  color: #ffffff;
  font-family: 'Poppins', sans-serif !important;
}

.head{
  width: 100%;
  height: 45%;
  z-index: -1;
  position: fixed;
  background: linear-gradient(274.83deg, #5DB0DF 0.58%, #5D7ADF 74.3%);
}

@media screen and (min-width: 768px) {
  .App {
    margin: 0px 10%;
  }
}
.w-100{
  width: 100%;
}

.flex-grow-1{
  flex-grow: 1;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
